[submodule "Unity"]
	path = Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "example3/blinky"]
	path = example3/blinky
	url = https://github.com/ElectronVector/add-ceedling-to-existing-project.git
[submodule "gcov-example"]
	path = gcov-example
	url = https://github.com/shenxianpeng/gcov-example.git
[submodule "post-ceedling-demo"]
	path = post-ceedling-demo
	url = https://github.com/zaleos/post-ceedling-demo.git
